RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
php_value post_max_size 500M
php_value upload_max_filesize 400M
php_value max_execution_time 3000
php_value max_input_time 6000